*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
html {
    font-size: 62.5%;
}
header{
    background-color: #D3D0C9;
    height: 20rem;
}
nav{
    height: 100%;
}
.licontainer {
display: flex;
width: 100%;
justify-content: first baseline;
align-items: center;
height: 100%;
margin-left: 20rem;
}
.licontainer li{
list-style: none;
}
.licontainer li a
{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin-left: 5rem;
}
.logocontainer{
    height: 14rem;
    width: 22rem;
    margin-right: 25rem;
    opacity: 0.7;
    margin-top: 1rem;   
}
.logo{
    width: 100%;
    height: 100%;
    border-radius: 110%;
    box-shadow: 10rem 0rem 1rem #d8e18b4d;
}
h1{
    text-align: center;
    margin-bottom: 3rem;
}
body{
    background-color: #D3D0C9;
}


a{
    text-decoration: none;
    color: black;
}
.enlace{
    display: inline-block;
    width: 60rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    background-color: rgb(184, 78, 78);
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
    font-size: 5rem;
    margin-left: 14rem;
}
.fotosproductos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor {
    display: inline-block;
    white-space: nowrap;
    margin-right: -5rem;
    width: 30rem;
}
.contenedor img {
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1rem;
}

.Publicidad{
        text-align: center;
        margin-bottom: 1rem; /* Agrega un margen inferior para separar las imágenes */
        margin: 3rem 3rem 3rem 20rem;
        width: 155rem;
        height: 50rem;
}
footer {
    background-color: gray;
    color: #fff;
    padding: 2rem;
    text-align: center;
    position: absolute;
    bottom: -100rem;
    width: 100%;
    color: #ffffff;
    text-decoration: underline;
}
.divmodoverano {
    display: flex;
    align-items: center;
    width: 110rem;
    border: 1px solid black;
    margin-bottom: 3rem;
    margin-left: 40rem;
}
hr {
    display: inline-block;
    width: 40rem; /* Ajusta el valor a lo que necesites */
    height: 0.1rem;
    margin: 1.5rem 1.55rem;
    border: none;
    background-color: black;
}
.moda-verano {
    display: inline-block;
    font-size: 3rem; /* ajusta el tamaño de la fuente según tu preferencia */
    text-align: center;
}
.logowsp{
margin-left: 180rem;
margin-top: 1rem;
}
.wsp{
margin-top: 1rem;
width: 5rem;
position: fixed;
}
.contacto{
border: 1px solid black;
}
.contacto2{
    margin-left: 95rem;
    text-align: center;
}
.map{
    width: 85rem;
    height: 65rem;
    margin-top: -35rem;
    margin-left: 5rem;
}
.formcontacto{
    text-align: center;
}

.suelaindex{
    width: 60rem;
    height: 40rem;
    border: 2px solid black
}
.suelaindexcontainer{
    display: flex;
    justify-content:space-around;
}
.imgproducto{
    width: 100%;
    height: 80%;
}

.sectionsuelaindex{
    margin-top: 10rem;
}